<h3>
    <i class="fas fa-child"></i>
Please rate your experience at <%= @location[:title] %></h3>
  <span class="starRating">
  <input id="rating5" type="radio" name="rating" value="5/5 - Exceptional">
  <label for="rating5">5/5 - Exceptional</label>
  <input id="rating4" type="radio" name="rating" value="4/5 - Great">
  <label for="rating4">4/5 - Great</label>
  <input id="rating3" type="radio" name="rating" value="3/5 - Good">
  <label for="rating3">3/5 - Good</label>
  <input id="rating2" type="radio" name="rating" value="2/5 - Below Average">
  <label for="rating2">2/5 - Below Average</label>
  <input id="rating1" type="radio" name="rating" value="1/5 - Terrible">
  <label for="rating1">1/5 - Poor</label>
</span>

<p></p>
<p></p>

<h4>Leave a review! Your feedback helps us improve.</h4>

<form action="/locations/<%= @location[:id] %>/reviews/create" method="post">
  <div class="form-group">
    <label>Is this location in your home region?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>

  <div class="form-group">
    <label>What was the reason for your visit to one of our centers?</label>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">Seeking care for my child</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio2">Seeking care for a friend / family member</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio3">Exploring care options</label>
</div>
<p></p>
  <div class="form-group">
    <label>Anything else you'd like to add?</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

